/* 首页分类条展示 */
#category #category-bar{
  padding: 0;
  border: none;
}

#category a.category-bar-item.select a{
  display: none;
}

.category-in-bar{
  display: flex;
  white-space: nowrap;
}

.category-in-bar-tips{
  margin-right: 1rem;
}

.category-bar-items{
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
}



#category-bar{
  padding:.4rem 1rem .4rem .5rem;
  background:var(--heo-card-bg);
  border-radius:12px;
  display:flex;
  white-space:nowrap;
  overflow:hidden;
  margin-bottom:.73rem;
  border:var(--style-border);
  transition:.3s;
  width:100%;
  justify-content:space-between
}
@media screen and (min-width:1300px){
  #category-bar:hover{
      border:var(--style-border-hover);
      box-shadow:var(--heo-shadow-main)
  }
}
@media screen and (max-width:768px){
  #category-bar{
      border-radius:0;
      background:var(--heo-background);
      margin-bottom:0;
      position: sticky;
      top: 50px;
      z-index: 1;
      margin-top: 0;
      align-items: center;
  }
}

.category-bar-items{
  white-space:nowrap;
  overflow-x:scroll;
  display:flex
}
.category-bar-items::-webkit-scrollbar{
  display:none
}
.category-bar-item a{
  padding:.13rem .6rem;
  margin:0 .25rem;
  font-weight:700;
  border-radius:8px;
  color: var(--heo-fontcolor);
}
.category-bar-more {
  color: var(--heo-fontcolor);
  margin-left: 1rem;
  font-weight: 700;
}
.category-bar-more:hover {
  color: var(--heo-theme);
}
.category-bar-item.select a{
  background:var(--heo-theme);
  color:var(--heo-white);
  border-radius:8px
}


/* PC端动画 */
@media screen and (min-width: 1300px) {
  .category-bar-item:hover a{
    background:var(--heo-theme);
    color:var(--heo-white)
  }
}

/* 无线端动画 */
@media screen and (max-width:768px){
  .category-bar-item.select a{
      border-radius:4px
  }
  .category-bar-item a{
      border-radius:4px
  }
}



/* 分类页样式 */
#category #category-bar {
  margin-bottom: 0rem !important;
  box-shadow:none;
}

/* 标签页 */
#tag #category-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -.75rem;
  margin-bottom: .5rem;
  padding: 0;
  justify-content: start;
  box-shadow: none;
  border: 0px;
}
#tag #category-bar:hover {
  box-shadow: none;
}
#tag #category-bar a {
  padding: .1rem .5rem;
  margin: .25rem .25rem;
  line-height: 1.8;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 400;

  /* color: var(--heo-fontcolor); */
  border: var(--style-border-always);
  display: flex;
  align-items: center;
}
#tag .category-bar-item a:hover .tagsPageCount, #post .tag_share .post-meta__tags:hover span.tagsPageCount {
  background: var(--heo-card-bg) !important;
  color: var(--heo-lighttext) !important;
}
#tag span.tagsPageCount {
  padding: 3px 4px;
  background: var(--heo-secondbg);
  min-width: 22.5px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: .6rem;
  color: var(--heo-fontcolor);
  margin-left: 4px;
  line-height: 1;
}
#tag #category-bar .category-bar-item.select .tagsPageCount {
  background: var(--heo-card-bg);
  color: var(--heo-lighttext);
}