
/* ****************************************** 全局样式 ************************************ */
.layout#content-inner {
  max-width: 1500px;
}
@media screen and (min-width: 1300px) {
  #content-inner.layout {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1.5rem;
    padding-top: .65rem;
    padding-bottom: .5rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .layout {
    padding: 0;
  }
}
.layout>div:first-child:not(.recent-posts) {
  box-shadow: var(--heo-shadow-border);
  padding: 1.2rem 2.5rem;
  border-radius: 12px;
  background: var(--heo-card-bg);
  border: var(--style-border);
  width: 80%;
}
@media screen and (max-width: 900px) {
  .layout>div:first-child:not(.recent-posts) {
    border-radius: 0;
    padding: 1.3rem 1rem 0rem 1rem !important;
    box-shadow: none;
  }
}
#page-header #page-site-info {
  display: none;
}

/* 评论 */
/* #post-comment #twikoo .tk-input.el-textarea >textarea {
  border-radius: 12px;
} */


/* 去除footer底部多余 */
#footer:before {
  content: none;
}

/* footer底部打字效果 */
#footer #footer-wrap .footer-banner-left {
  display: flex;
  flex-wrap: wrap;
  max-height: 30px;
  color: var(--heo-fontcolor);
}
#footer #footer-wrap {
  padding: 20px 0px;
  border-top: 1px #e3e8f7 solid;
  transition: .3s;
}
[data-theme=dark] #footer #footer-wrap {
  background: var(--heo-secondbg);
  border-top: 1px var(--style-border) solid;
  transition: .3s;
}
#footer #footer-wrap #footer-banner-links {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  flex-wrap: wrap;
}
#footer #footer-wrap .footer-banner-right {
  display: flex;
  color: var(--heo-fontcolor);
}
#footer-wrap a {
  color: var(--heo-fontcolor);
}
#footer-wrap a:hover {
  color: var(--heo-main-color);
  text-decoration: none;
}
#footer {
  margin-top: 20px;
  background: linear-gradient(180deg,var(--heo-background) 0,var(--heo-card-bg) 25%);
}
[data-theme=dark] #footer:before {
  background-color: var(--heo-none)!important;
  z-index: -1;
}
#footer-wrap .framework-info {
  margin-left: 1rem;
}

#footer #footer_deal {
  padding-top: 2rem;
  padding-bottom: 1rem;
  justify-content: center;
  display: flex;
  align-items: center;
}
a.deal_link {
  margin: 1rem 27px;
}
#footer_deal i {
  font-size: 1.5rem;
  color: var(--heo-fontcolor);
  transition: .3s;
}
#footer #footer_deal a:hover i {
  color: var(--heo-main-color);
  transition: .3s;
}


/* 文章页、标签页、分类页样式修改 */
.article-sort-title:before {
  content: none;
}
.article-sort-title:after {
  content: none;
}
.article-sort-item.year:before {
  content: none;
}
.article-sort-item:before {
  content: none;
}
.article-sort {
  border: none;
  margin-left: 0;
  padding-left: 0;
}
.article-sort-title {
  font-weight: 700;
  font-size: 2em;
  margin-left: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.article-sort-item.year {
  font-size: 1rem;
  color: var(--heo-secondtext);
  margin-bottom: 0.2rem;
}
.article-sort-item {
  margin: 0 0 1rem 0;
  overflow: hidden;
  border-radius: 12px;
}
.article-sort .article-sort-item .article-sort-item-img {
  border-radius: 12px;
  min-width: 151px;
  min-height: 80px;
  background: var(--heo-secondbg);
}
.article-sort-item-time {
  display: none;
}
.article-sort-item-info {
  display: flex;
  flex-direction: column;
}
.article-sort-item-title {
  font-weight: 700;
  line-height: 1.3;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}
.article-sort-item-tags {
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  width: 100%;
  font-size: .88rem;
}
.article-sort-item-tags a {
  color: var(--heo-fontcolor);
  transition: .3s;

  overflow: hidden;
  text-overflow: ellipsis;
}
span.tags-punctuation {
  opacity: .4;
  margin-right: 1px;
}
.article-sort-item-title:hover {
  color: var(--heo-main-color);
  transform: none;
}
.article-sort-item-tags a:hover {
  color: var(--heo-main-color);
}

#page {
  background: var(--heo-background);
  border: none;
  padding: 0;
  box-shadow: none;
}
#page .tag-cloud-list a {
  color: var(--heo-fontcolor)!important;
  font-size: 1.4em !important;
  padding: .2em .5em;
  background: var(--heo-secondbg);
  margin: .5em .5em;
  border-radius: 12px;
  border: var(--style-border);
  box-shadow: var(--heo-shadow-border);
}
#page .tag-cloud-list a>sup {
  top: 0;
  background: var(--heo-card-bg);
  padding: 2px 4px;
  border-radius: 8px;
  color: var(--heo-secondtext);
  line-height: 1.2;
  text-align: center;
  min-width: 35px;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 8px;
}
#page .tag-cloud-list a:before {
  content: '#';
  opacity: .4;
  padding-right: 10px;
}
#page .tag-cloud-list a:hover {
  background: var(--heo-main-color);
  color: var(--heo-white) !important;
}



/* PC上隐藏右下角功能菜单 */
@media screen and (min-width: 1300px) {
  #rightside {
    display: none;
  }
}
