/* ************************* 友情链接页面样式 ************************* */
@keyframes letup{
  from{
      transform:translateX(-50%)
  }
  to{
      transform:translateX(0%);
  }
}
@keyframes light_tag {
  0% {
    transform: skewx(0deg);
    -o-transform: skewx(0deg);
    -moz-transform: skewx(0deg);
    -webkit-transform: skewx(0deg);
    left: -150px;
  }
  99% {
    transform: skewx(-25deg);
    -o-transform: skewx(-25deg);
    -moz-transform: skewx(-25deg);
    -webkit-transform: skewx(-25deg);
    left: 50px;
  }
}

.tags-group-all.nowrapMove {
  transform: rotate(0);
  padding-bottom: 2.5rem;
  flex-direction: column;
  margin: auto;
}
.nowrapMove .tags-group-icon {
  border-radius: 50%;
}
.nowrapMove .tags-group-icon img {
  min-width: 100%;
  min-height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.nowrapMove .tags-group-wrapper {
  animation: rowup 120s linear infinite;
  margin-top: 8.3rem;
}
.tags-group-wrappers {
  display: flex;
  margin-top: 25px;
  animation: letup 120s linear infinite;
}

#article-container.flink h2 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.flink#article-container .site-card-group {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin: -8px;
  -webkit-box-align: stretch;
  align-items: stretch;
  padding: 20px 0;
}
.site-card-tag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 8px;
  background-color: var(--heo-main);
  box-shadow: var(--heo-shadow-main);
  color: var(--heo-white);
  z-index: 1;
  border-radius: 12px 0 12px 0;
  transition: 0.3s;
  font-size: 0.6rem;
}
.site-card-tag.speed {
  background: var(--heo-green);
  box-shadow: var(--heo-shadow-green);
}
.flink#article-container .site-card .img {
  transition: all 0.3s ease 0s;

  border-radius: 12px 12px 0 0;
  height: 120px;
  width: 100%;
  display: flex;
  border: none;
  padding: 0 !important;
}
.flink#article-container .flink-list .site-card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  margin: 0;
  /* transform: scale(1.03); */
  transition: 0.3s;
}
.flink#article-container .flink-list .site-card .info {
  display: flex;
  border: none;
  padding: 0.5rem;
  width: 100%;
  height: 90px;
  margin: 0;
  border-radius: 0 0 12px 12px;
}
#article-container .fancybox {
  border-bottom: 0;
  padding: 0;
  margin: auto;
  display: contents;
  width: fit-content;
}
.flink#article-container .flink-list .site-card .info img {
  border-radius: 32px;
  transition: 0.3s !important;
  margin: 2px 8px 0 0;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height:20px;
  background: var(--heo-secondbg);
}
.flink#article-container .site-card .site-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flink#article-container .site-card .info .title {
  font-weight: 600;
  color: var(--heo-fontcolor);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  transition: all 0.3s ease 0s;
  text-align: left;
}
.flink#article-container .site-card .info .desc {
  overflow-wrap: break-word;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  font-size: 0.83rem;
  color: var(--heo-fontcolor);
  opacity: 0.9;
  transition: 0.3s;
  text-align: left;
  padding-top: 4px;
}
.flink#article-container .flink-list {
  padding: 0;
  margin: 1rem -6px 0 -6px;
  overflow-x: hidden;
}
.flink#article-container .flink-list>.flink-list-item {
  float: left;
  overflow: hidden;
  height: 90px;
  line-height: 17px;
  margin: 6px 6px;
  transition: 0.3s;
  border-radius: 12px;
  transition-timing-function: ease-in-out;
  position: relative;
  width: calc(20% - 12px);
  border: var(--style-border);
  box-shadow: var(--heo-shadow-border);
  background: var(--heo-card-bg);
}
.flink#article-container .flink-list .flink-list-item.site-card {
  margin: 8px;
  display: block;
  line-height: 1.4;
  border: var(--style-border);
  border-radius: 12px;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  height: 200px;
  position: relative;
  width: calc(100% / 7 - 16px);
  background: var(--heo-card-bg);
  box-shadow: var(--heo-shadow-border);
}
.flink#article-container .flink-list>.flink-list-item a {
  color: var(--heo-fontcolor);
  text-decoration: none;
  display: flex;
  border: none;
}
.flink#article-container .flink-list>.flink-list-item a img {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 32px;
  margin: 15px 20px 15px 15px;
  transition: 0.3s;
  background: var(--heo-background);
  min-width: 60px;
  min-height: 60px;
}
.flink-list-item .flink-item-info {
  max-width: 148px;
  overflow: hidden;
}
.flink#article-container .flink-list>.flink-list-item a .flink-item-name {
  font-weight:700;
  font-size: 19px;
  padding: 16px 10px 0px 0px;
  color: var(--heo-fontcolor);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  transition: all 0.3s ease 0s;
  text-align: left;
}
.flink#article-container .flink-list>.flink-list-item a .flink-item-desc {
  white-space: normal;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  line-height: 1.2;
  padding: 10px 10px 15px 0px;
  color: var(--heo-fontcolor);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  font-size: 0.83rem;
  opacity: 0.9;
  transition: 0.3s;
  text-align: left;
  height: 40px;
}
.site-card-tag.vip {
  background: linear-gradient(38deg, rgba(229, 176, 133, 1) 0%, rgba(212, 143, 22, 1) 100%);
  overflow: hidden;
  box-shadow: var(--heo-shadow-yellow);
}
.site-card-tag.vip .light {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100px;
  height: 50px;
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  animation: light_tag 4s both infinite;
}

@media screen and (max-width: 600px) {
  .flink#article-container .flink-list>.flink-list-item.site-card {
    width: calc(50% - 16px) !important;
  }
  .flink#article-container .flink-list>.flink-list-item {
    width: calc(100% - 12px) !important;
  }
}

@media screen and (min-width: 1300px) {
  .flink .banners-title {
    top: 1.5rem;
  }
  .banners-title-small {
    font-size: 12px;
    line-height: 1;
    color: var(--heo-secondtext);
    margin-top: 8px;
    margin-bottom: 0.5rem;
  }
  .banners-title-big {
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 8px;
  }
  #banners .banner-button-group {
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: flex;
  }
  #banners .banner-button {
    padding: 8px 12px;
    background: var(--heo-fontcolor);
    border-radius: 12px;
    color: var(--heo-card-bg);
    display: flex;
    align-items: center;
    z-index: 1;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: var(--heo-shadow-black);
  }
  #banners .banner-button.secondary {
    background: var(--heo-secondbg);
    border: var(--style-border-always);
    color: var(--heo-lighttext);
    margin-right: 1rem;
    box-shadow: var(--heo-shadow-border);
  }
  #banners .banner-button:hover {
    background: var(--heo-main);
    color: var(--heo-white);
  }
  #banners .banner-button i {
    margin-right: 8px;
    font-size: 1.2rem;
  }

  /* 动效 */
  #banners.flink:hover {
    border: var(--style-border);
  }
  .flink#article-container .flink-list .site-card:hover {
    border: var(--style-border-hover);
    box-shadow: var(--heo-shadow-main);
  }
  .flink#article-container .flink-list .site-card:hover .info .desc {
    -webkit-line-clamp: 4;
  }
  .flink#article-container .flink-list .site-card:hover .info .desc {
    transition: 0.3s;
    color: var(--heo-white);
    width: 100%
  }
  .flink#article-container .flink-list .site-card:hover .info {
    background: var(--heo-theme);
  }
  .flink#article-container .flink-list .site-card:hover {
    transform: scale(1.03) !important;
  }
  .flink#article-container .flink-list .site-card:hover .site-card-tag {
    left: -50px;
  }
  .flink#article-container .flink-list .site-card:hover .info .title {
    color: var(--heo-white);
  }
  .flink#article-container .flink-list .site-card:hover .info {
    height: 120px;
    padding: 15px 10px 0px 0px;
  }
  .flink#article-container .flink-list .site-card:hover .info img {
    width: 0;
    height: 0;
    opacity: 0;
    min-width: 0;
    min-height: 0;
  }
  .flink#article-container .flink-list .site-card:hover .img img {
    transform: scale(1.1);
    filter: brightness(0.3);
    width: 100%;
    height: 100%;
    opacity: 1;
    margin: 0;
  }
  .flink#article-container .flink-list .site-card:hover .img {
    height: 80px;
  }

  .flink#article-container .flink-list>.flink-list-item:hover {
    transform: scale(1.05);
    background: var(--heo-theme);
    border: var(--style-border-hover);
    box-shadow: var(--heo-shadow-main);
  }
  .flink#article-container .flink-list>.flink-list-item:hover a .flink-item-desc {
    color: var(--heo-white);
  }
  .flink#article-container .flink-list>.flink-list-item:hover a .flink-item-name {
    color: var(--heo-white);
    transition: 0.3s;
  }
  .flink#article-container .flink-list>.flink-list-item:hover a img {
    transition: 0.6s;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0.5rem;
    min-width: 0px;
    min-height: 0px;
  }
  .flink-list-item:hover .flink-item-info {
    max-width: 100%;
  }
  .flink#article-container .flink-list>.flink-list-item:hover a .flink-item-desc {
    overflow: inherit;
    width: 100%;
    transition: 0.3s;
  }
}